<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script type="text/javascript" src="Scripts/bootstrap.bundle.min.js"></script>
    <title>Blog</title>
    <style>
        .user-img{
            border-radius: 50%; 
            border: 2px solid;
            max-height: 80px;
        }

        .dropdown-toggle,
        .dropdown-toggle:hover {
            background-color: white;
            border: none;
        }
        .dropdown-menu{
            background-color: black;
        }



    </style>
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-between">
            <h1 class="mt-4 mb-4">Blog Articles</h1>
            <% if (isLoggedIn) { %>
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle mt-4" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <img class="user-img dropdown-toggle" src="<%= userImgUrl %>" alt="User Image">
                    </a>
            
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
            <% } %>
        </div>
        <div class="d-flex flex-row justify-content-between">
            <div>
                <a href="/articles/new" class="btn btn-success">New Article</a>
                <a href="/articles/share" class="btn btn-secondary">Share Article</a>
            </div>
            <div class="user-auth">
                <% if (!isLoggedIn) { %>
                  <a href="/login" class="btn btn-dark ms-1">Login</a>
                <% } %>
              </div>
        </div>
        <% articles.forEach(article => { %>
            <div class="card mt-4 p-4">
                <div class="class-body">
                    <h4 class="card-title"><%= article.title %></h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%= article.createdAt.toLocaleDateString() %> 
                    </div>
                    <div class="card-text mb-2"><%= article.description %></div>
                    <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
                    <a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
                    <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>